html {
	height: 100%;
	width: 100%;
}
body {
	height: 100%;
	width: 100%;
}
.content{
	width: 85%;
	float: right;
}
.login-form{
	width : 20%;
	left: 25%;
	position: relative;
}
.register-form{
	width : 20%;
	left: 5%;
	position: relative;
}
.chart-content{
	width: 80%;
	height:80%;
}

input.submit-button {
	margin-top: 15px;
}
.widget{
	margin-left: 80px;
	position: relative;
	float: left;
	width: 340px;
	height: 250px;
}
.panelContent{
	position: relative;
	width: 70%;
	left: 25%;
}
.users-list{
	width: 70%;
}
.measureBox{
	font-size: 30px;
}