html {
	height: 100%;
	width: 100%;
}
body {
	height: 100%;
	width: 100%;
}
.content{
	width: 85%;
	float: right;
}
.login-form{
	width : 20%;
	left: 25%;
	position: relative;
}
.register-form{
	width : 20%;
	left: 5%;
	position: relative;
}
.chart-content{
	position: relative;
	width: 80%;
	height:80%;
	left: 5%;
}

input.submit-button {
	margin-top: 15px;
}