html {
	height: 100%;
	width: 100%;
}
body {
	height: 100%;
	width: 100%;
}
.content{
	width: 85%;
	float: right;
}
.login-form{
	width : 20%;
	left: 25%;
	position: relative;
}
.register-form{
	width : 20%;
	left: 5%;
	position: relative;
}
.chart-content{
	width: 80%;
	height:80%;
}

input.submit-button {
	margin-top: 15px;
}
.widget{
	margin-left: 80px;
	position: relative;
	float: left;
	width: 255px;
	height: 250px;
}
.panelContent{
	position: relative;
	width: 70%;
	left: 25%;
}
.users-list{
	width: 70%;
}
.measureBox{
	font-size: 30px;
}
.headerImage{
	width: 100%;
	height: 135px;
}
.footerImage{
	width: 100%;
	height: 135px;
}
#footer {
	z-index: 9999;
	position:absolute;
	left:0px;
	bottom:-60%;
	height:100px;
	width:100%;
	background:#999;
}

.submit-btn {
	margin-top: 10px;
}

/* IE 6 */
* html #footer {
   position:relative;
   top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}

body.login {
	background: url(../img/back.jpg) no-repeat center center fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.login-form label {
	color: white;
}